global:
  enabled: false
  name: consul
  datacenter: ${datacenter}
  image: "hashicorp/consul:${consul_version}"

externalServers:
  enabled: true
  hosts: ${consul_hosts}
  httpsPort: 8500

server:
  enabled: false

terminatingGateways:
  enabled: true
  logLevel: "debug"
  defaults:
    replicas: 1

connectInject:
  enabled: true
  replicas: 1
  transparentProxy:
    defaultEnabled: false

controller:
  enabled: true

meshGateway:
  enabled: true
  replicas: 1
